@model IEnumerable<Consulting>

@{
	ViewBag.Title = "Met And Meeting";
}

<h2>Danh sách đã tư vấn</h2>

<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
	<div class="row">
		<div class="col-sm-12">
			<table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
				<thead>
					<tr>
						<th>Consulting Id</th>
						<th>Tên bác sĩ</th>
						<th>Tên bệnh nhân</th>
						<th>Thời gian bắt đầu</th>
						<th>Trạng thái</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr role="row" class="odd">
							<td class="sorting_1">
								<a href="@Url.Action("ViewResult","ConsultingAdmin",new { consultingId = item.ConsultingId})">@item.ConsultingId</a>
							</td>
							<td>@Html.DisplayFor(modelItem => item.Doctor.FullName)</td>
							<td>@item.Patient.FullName</td>
							<td>
								@item.StartConsulting
							</td>
							<td>@Html.DisplayFor(modelItem => item.Status)</td>

						</tr>
					}
				</tbody>

			</table>
		</div>
	</div>

</div>
@section scripts{
	<script>
		$('#example1').DataTable();

	</script>
}


