@model OMW_Project.Models.Consulting

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Consulting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doctor.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebManager.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebManager.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartConsulting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartConsulting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
