@model IEnumerable<User>

@{
	ViewBag.Title = "Index";
}

<h2>Danh sách người dùng</h2>

<div>
	<a class="btn btn-success" href="@Url.Action("Create", "UsersAdmin")">Tạo người dùng</a>
	<br />
</div>
<hr />
<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
	<div class="row">
		<div class="col-sm-12">
			<table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
				<thead>
					<tr>
						<th>Email</th>
						<th>Họ tên</th>
						<th>Địa chỉ</th>
						<th>Số điện thoại</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr role="row" class="odd">
							<td class="sorting_1"><a href="@Url.Action("Details", "UsersAdmin", new { id = item.Id})">@item.Email</a>
							</td>
							<td>@Html.DisplayFor(modelItem => item.FullName)</td>
							<td>@Html.DisplayFor(modelItem => item.Address)</td>
							<td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
							<td>
								<a class="btn btn-info" href="@Url.Action("Edit", "UsersAdmin", new { id = item.Id })">Sửa</a>
								<a class="btn btn-danger" href="@Url.Action("Delete", "UsersAdmin", new { id = item.Id })">Xóa</a>
							</td>

						</tr>
					}
				</tbody>

			</table>
		</div>
	</div>

</div>
@section scripts{
	<script>
		$('#example1').DataTable();

	</script>
}
