@model OMW_Project.Models.Order

@{
    ViewBag.Title = "Edit";
}

<h2>Sửa Order</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.OrderId)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.DoctorId)
    @Html.HiddenFor(model => model.WebManagerId)

    <div class="form-group">
        <div class="control-label col-md-2">
            <label>Tên người nhận</label>
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <label>Số điện thoại</label>
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <label>Địa chỉ</label>
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <label>Tổng tiền</label>
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.TotalCost, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <div class="checkbox">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sửa" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
