@model OMW_Project.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Bạn chắc chắn muốn xóa sản phẩm này?</h3>
<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ProductName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ProductName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CategoryProduct.CategoryName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CategoryProduct.CategoryName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Image)
		</dt>

		<dd>
			<img src="@Model.Image" alt=""width="200" height="300"/>
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Drugstore)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Drugstore)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.OriginPrice)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.OriginPrice)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SalePrice)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SalePrice)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			<div class="col-md-8">@Html.Raw(Model.Description)</div>
		</dd>
	</dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-1 col-md-10">
            <input type="submit" value="Xóa" class="btn btn-danger" /> 
			<a class="btn btn-default" href="@Url.Action("Index", "ProductsAdmin")">Quay lại</a>
        </div>
    }
</div>
