@model IEnumerable<Product>
@{
	ViewBag.Title = "Index";
}

<h2>Danh sách sản phẩm</h2>

<div>
	<a class="btn btn-success" href="@Url.Action("Create", "ProductsAdmin")">Tạo sản phẩm</a>
	<br />
</div>
<hr />
<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
	<div class="row">
		<div class="col-sm-12">
			<table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
				<thead>
					<tr>
						<th>Tên Hàng</th>
						<th>Phân loại</th>
						<th>Giá Gốc</th>
						<th>Giá Bán</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr role="row" class="odd">
							<td class="sorting_1"><a href="@Url.Action("Details", "ProductsAdmin", new { id = item.ProductId })">@item.ProductName</a>
							</td>
							<td>@item.CategoryProduct.CategoryName</td>
							<td>@Html.DisplayFor(modelItem => item.OriginPrice)</td>
							<td>@Html.DisplayFor(modelItem => item.SalePrice)</td>
							<td>
								<a class="btn btn-info" href="@Url.Action("Edit", "ProductsAdmin", new { id = item.ProductId })">Sửa</a>
								<a class="btn btn-danger" href="@Url.Action("Delete", "ProductsAdmin", new { id = item.ProductId })">Xóa</a>
							</td>

						</tr>
					}
				</tbody>

			</table>
		</div>
	</div>

</div>
@section scripts{
	<script>
		$('#example1').DataTable();

	</script>
}

