@model IEnumerable<OMW_Project.Models.Post>

@{
	ViewBag.Title = "Index";
}

<h2>@ViewBag.View</h2>
@if (ViewBag.Index == 1)
{
	<div>
		<a class="btn btn-success" href="@Url.Action("Create", "PostsAdmin")">Tạo bài viết</a>
		<br />
	</div>
	<hr />
}
<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
	<div class="row">
		<div class="col-sm-12">
			<table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
				<thead>
					<tr>
						<th>Tên tiêu đề</th>
						<th>Tên danh mục</th>
						<th>Trạng thái</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr role="row" class="odd">
							<td class="sorting_1"><a href="@Url.Action("Details", "PostsAdmin", new { id = item.PostId })">@item.Title</a></td>
							<td>@Html.DisplayFor(modelItem => item.CategoryPost.CategoryName)</td>
							<td>@Html.DisplayFor(modelItem => item.Status)</td>
							<td>
								<a class="btn btn-info" href="@Url.Action("Edit", "PostsAdmin", new { id = item.PostId })">Sửa</a>
								<a class="btn btn-danger" href="@Url.Action("Delete", "PostsAdmin", new { id = item.PostId })">Xóa</a>
							</td>

						</tr>
					}
				</tbody>

			</table>
		</div>
	</div>

</div>
@section scripts{
	<script>
		$('#example1').DataTable();

	</script>
}
