@model DoctorProfile
@{
	ViewBag.Title = "DetailDoctor";
}
<style>
	.row {
		margin: 20px 0
	}
</style>
@{
	var consultings = ViewBag.consultings as List<Consulting>;
}

@section NavBar{
	<nav class="navbar navbar-inverse bg-inverse fixed-top bg-faded">
		<div style="width:100%">
			<div class="col">
				@Html.Partial("_PartialLoginButton")
			</div>
		</div>
	</nav>
}
<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 mx-auto">
				<div class="cta-inner rounded">
					<!-- Main -->
					<div class="container">
						<div class="row">
							<div class="col-md-5">
								<img src="@Model.User.Image" alt="" width="300" height="450" style="margin: 0 auto" />
							</div>
							<div class="col-md-7">
								<h2>Tên bác sĩ: @Model.User.FullName</h2>
								<p>Giới tính: @(Model.User.Sex?"Nam":"Nữ") </p>
								<p>CMTND/CCCD: @Model.CMT</p>
								<p>Ngày cấp: @Model.DateRange.ToString("dd/MM/yyyy")</p>
								<p>Nới làm việc: @Model.Workplace</p>
								<p>Kinh nghiệm làm việc: @Model.Experience</p>
							</div>
						</div>
						<hr/>
						<div class="row text-center">
							<div class="col-md-12">
								<h3 class="">Lịch tư vấn</h3>
							</div>
						</div>
						@if (consultings.Count > 0)
						{
							using (Html.BeginForm("Book", "Consulting", FormMethod.Post))
							{
								foreach (var item in consultings)
								{
									<div class="row text-center">
										<div class="col-md-12 h4">
											<input type="radio" name="ConsultingId" value="@item.ConsultingId" checked="checked" />
											<label><b>@item.StartConsulting.ToString("dd/MM/yyyy HH:mm")</b></label>
										</div>
									</div>
									<hr />
								}
								<div class="row">
									<div class="col-md-2">
										<label>Vấn đề của bạn</label>
									</div>
									<div class="col-md-10">
										<textarea class="form-control" rows="3" name="PatientIssue"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 text-center">
										<button type="submit" class="btn btn-success">Save</button>
									</div>
								</div>
							}
							
						
						}
						else
						{
							<div class="row text-center">
								<div class="col-md-12">
									<h3 class="">Bác sĩ hiện đang bận!</h3>
								</div>
							</div>
						}
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<a class="btn btn-primary" href="@Url.Action("Book","Consulting")">Quay lại</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
